# Task Data Preparation

In [1]:
import pandas as pd
#settings :
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 1000)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno 

from sklearn.ensemble import RandomForestRegressor

In [2]:
data = pd.read_csv('data_transformation_dataset_task2.csv', index_col=0)
data.head()

   cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
id
1     B    B    B    C    B    B    A    E    C    N  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
2     B    B    A    A    B    D    A    F    A    O  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
3     A    A    A    C    B    D    A    D    A    F  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
4     B    B    A    C    B    D    A    E    C    K  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
6     A    A    A    C    B    D    A    E    A    N  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260

In [3]:
print(data.dtypes)

cat0       object
cat1       object
cat2       object
cat3       object
cat4       object
cat5       object
cat6       object
cat7       object
cat8       object
cat9       object
cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
target    float64
dtype: object

In [4]:
data.cat8.value_counts()

C    111103
E     79844
A     76585
G     26128
D      5187
F       966
B       187
Name: cat8, dtype: int64

In [5]:
data['cat9'].value_counts()

F    71249
I    59218
G    28253
L    20958
H    19925
K    18057
N    16704
B    14477
J    14266
O    14203
A    11029
M     7931
C     1603
D     1088
E     1039
Name: cat9, dtype: int64

In [6]:
data  =  pd.get_dummies ( data ,  
                            columns = ['cat0','cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9'],  
                           ) 
data.head()

       cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target  cat0_A  cat0_B  cat1_A  cat1_B  cat2_A  cat2_B  cat3_A  cat3_B  cat3_C  cat3_D  cat4_A  cat4_B  cat4_C  cat4_D  cat5_A  cat5_B  cat5_C  cat5_D  cat6_A  cat6_B  cat6_C  cat6_D  cat6_E  cat6_G  cat6_H  cat6_I  cat7_A  cat7_B  cat7_C  cat7_D  cat7_E  cat7_F  cat7_G  cat7_I  cat8_A  cat8_B  cat8_C  cat8_D  cat8_E  cat8_F  cat8_G  cat9_A  cat9_B  cat9_C  cat9_D  cat9_E  cat9_F  cat9_G  cat9_H  cat9_I  cat9_J  cat9_K  cat9_L  cat9_M  cat9_N  cat9_O
id
1   0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634       0       1       0       1       0       1       0       0       1       0       0       1       0       0       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0
2   0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233       0       1       0       1       1       0       1       0       0       0       0       1       0       0       0       0       0       1       1       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1
3   0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351       1       0       1       0       1       0       0       0       1       0       0       1       0       0       0       0       0       1       1       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0
4   0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253       0       1       0       1       1       0       0       0       1       0       0       1       0       0       0       0       0       1       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0
6   1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260       1       0       1       0       1       0       0       0       1       0       0       1       0       0       0       0       0       1       1       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0

In [8]:
data = data.astype(float)

In [9]:
print(data.dtypes)

cont0     float64
cont1     float64
cont2     float64
cont3     float64
cont4     float64
cont5     float64
cont6     float64
cont7     float64
cont8     float64
cont9     float64
cont10    float64
cont11    float64
cont12    float64
cont13    float64
target    float64
cat0_A    float64
cat0_B    float64
cat1_A    float64
cat1_B    float64
cat2_A    float64
cat2_B    float64
cat3_A    float64
cat3_B    float64
cat3_C    float64
cat3_D    float64
cat4_A    float64
cat4_B    float64
cat4_C    float64
cat4_D    float64
cat5_A    float64
cat5_B    float64
cat5_C    float64
cat5_D    float64
cat6_A    float64
cat6_B    float64
cat6_C    float64
cat6_D    float64
cat6_E    float64
cat6_G    float64
cat6_H    float64
cat6_I    float64
cat7_A    float64
cat7_B    float64
cat7_C    float64
cat7_D    float64
cat7_E    float64
cat7_F    float64
cat7_G    float64
cat7_I    float64
cat8_A    float64
cat8_B    float64
cat8_C    float64
cat8_D    float64
cat8_E    float64
cat8_F    float64
cat8_G    float64
cat9_A    float64
cat9_B    float64
cat9_C    float64
cat9_D    float64
cat9_E    float64
cat9_F    float64
cat9_G    float64
cat9_H    float64
cat9_I    float64
cat9_J    float64
cat9_K    float64
cat9_L    float64
cat9_M    float64
cat9_N    float64
cat9_O    float64
dtype: object

In [10]:
y = data['target']# what you want predict 
X = data.drop(['target'], axis=1) # predictors

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.33, random_state=42)

model = RandomForestRegressor(n_estimators = 100,
                           n_jobs = -1,
                           oob_score = True,
                           bootstrap = True,
                           random_state = 42) 
model.fit(X_train, y_train)    
pred = model.predict(X_test)

r2_score(y_test, pred)

0.02876861769458683

In [20]:
y_test.value_counts()

8.068099    2
6.957476    2
8.238734    2
8.493374    2
8.518501    2
           ..
8.796804    1
7.702544    1
7.262347    1
8.743486    1
7.970794    1
Name: target, Length: 98954, dtype: int64

In [12]:
y = data['target']# what you want predict 
X = data.drop(['target'], axis=1) # predictors

In [13]:
pred = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, pred, squared=False))

0.7341650592899135

# split, training, predict and mean square error

In [35]:
data_ordinal = pd.read_csv('data_transformation_dataset_task2.csv', index_col=0)
data_ordinal

       cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
id
1         B    B    B    C    B    B    A    E    C    N  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
2         B    B    A    A    B    D    A    F    A    O  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
3         A    A    A    C    B    D    A    D    A    F  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
4         B    B    A    C    B    D    A    E    C    K  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
6         A    A    A    C    B    D    A    E    A    N  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...       ...
499993    B    B    A    A    B    D    A    E    A    I  0.697124  0.483452  0.297770  0.195821  0.307883  0.769792  0.450538  0.934360  1.005077  0.853726  0.422541  1.063463  0.697685  0.506404  7.945605
499996    A    B    A    C    B    B    A    E    E    F  0.446200  0.715135  0.610931  0.601730  0.736713  0.528056  0.508502  0.358247  0.257825  0.433525  0.301015  0.268447  0.577055  0.823611  7.326118
499997    B    B    A    C    B    C    A    E    G    F  0.544279  0.060937  0.590955  0.905308  0.277074  0.688747  0.372425  0.364936  0.383224  0.551825  0.661007  0.629606  0.714139  0.245732  8.706755
499998    A    B    A    C    B    B    A    E    E    I  0.300062  0.613118  0.285213  0.406851  0.805963  0.344404  0.424243  0.382028  0.468819  0.351036  0.288768  0.611169  0.380254  0.332030  7.229569
499999    A    A    A    C    A    D    A    E    A    O  0.857752  0.628528  0.539625  0.396143  0.276785  0.565347  0.328669  0.789165  0.960406  0.776019  0.734707  0.484392  0.639754  0.689317  8.631146

[300000 rows x 25 columns]

In [36]:
def ordinal(x):
    if x == 'A':
        return 1
    elif x == 'B':
        return 2
    elif x == 'C':
        return 3
    elif x=='D':
        return 4
    elif x == 'E':
        return 5
    elif x == 'F':
        return 6
    elif x=='G':
        return 7
    elif x == 'H':
        return 8
    elif x == 'I':
        return 9
    elif x=='J':
        return 10
    elif x == 'K':
        return 11
    elif x == 'L':
        return 12
    elif x=='M':
        return 13
    elif x == 'N':
        return 14
    elif x=='O':
        return 15
    elif x == 'P':
        return 16
   
  
    else:
        return np.NaN

data_ordinal['cat0'] = data_ordinal['cat0'].apply(ordinal)
data_ordinal['cat1'] = data_ordinal['cat1'].apply(ordinal)
data_ordinal['cat2'] = data_ordinal['cat2'].apply(ordinal)
data_ordinal['cat3'] = data_ordinal['cat3'].apply(ordinal)
data_ordinal['cat4'] = data_ordinal['cat4'].apply(ordinal)
data_ordinal['cat5'] = data_ordinal['cat5'].apply(ordinal)
data_ordinal['cat6'] = data_ordinal['cat6'].apply(ordinal)
data_ordinal['cat7'] = data_ordinal['cat7'].apply(ordinal)
data_ordinal['cat8'] = data_ordinal['cat8'].apply(ordinal)
data_ordinal['cat9'] = data_ordinal['cat9'].apply(ordinal)

In [37]:
data_ordinal.head(5)

    cat0  cat1  cat2  cat3  cat4  cat5  cat6  cat7  cat8  cat9     cont0     cont1     cont2     cont3     cont4     cont5     cont6     cont7     cont8     cont9    cont10    cont11    cont12    cont13    target
id
1      2     2     2     3     2     2     1     5     3    14  0.201470 -0.014822  0.669699  0.136278  0.610706  0.400361  0.160266  0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850  8.113634
2      2     2     1     1     2     4     1     6     1    15  0.743068  0.367411  1.021605  0.365798  0.276853  0.533087  0.558922  0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083  8.481233
3      1     1     1     3     2     4     1     4     1     6  0.742708  0.310383 -0.012673  0.576957  0.285074  0.650609  0.375348  0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846  8.364351
4      2     2     1     3     2     4     1     5     3    11  0.429551  0.620998  0.577942  0.280610  0.284667  0.668980  0.239061  0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682  8.049253
6      1     1     1     3     2     4     1     5     1    14  1.058291  0.367492 -0.052389  0.232407  0.287595  0.686964  0.420667  0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823  7.972260

In [38]:
data_ordinal = data_ordinal.astype(float)
#data_ordinal = pd.to_numeric(data_ordinal)

In [39]:
y = data_ordinal['target']# what you want predict 
X = data_ordinal.drop(['target'], axis=1) # predictors

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y,  test_size=0.33, random_state=42)

model = RandomForestRegressor(n_estimators = 100,
                           n_jobs = -1,
                           oob_score = True,
                           bootstrap = True,
                           random_state = 42) 
model.fit(X_train1, y_train1)    
y_pred = model.predict(X_test1)

r2_score(y_test1,y_pred)

0.02756669486923613

In [41]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test1,y_pred, squared=False))

0.734619192530579